@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    background: none;
    border: none;
    appearance: none;
    outline: none;
    padding: 0;
    cursor: pointer;
  }

body {
    color: #ffffff;
}

.header {
    background: #333333;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 10px 20px;
}

.nav {
    background: #999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: transform 0.5s;
    transform: translateX(100%);
    opacity: 0;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.hamburger {
    display: block;
    position: absolute;
    left: 90%;
    border-radius: 5px;
    background: #ffffff;
    width: 50px;
    height: 50px;
}

.top-line {
    bottom: 20px;
    width: inherit;
    height: 10px;
}

.center-line {
    bottom: 0px;
    width: inherit;
    height: 10px;
}

.bottom-line {
    top: 20px;
    width: inherit;
    height: 10px;
}